<body>
	<div class="top-body">
		<div class="top-wrapper">
			<div class="top-container">
				<h1 class="top-title">Welcome to Bookers!!</h1>
				<p class="top-text">Inspire the others</p>
				<button type="button" class="btn btn-success btn-block"><%= link_to "Sign up", new_user_registration_path,:style=>"color:white;" %>
				</button>
				<button type="button" class="btn btn-info btn-block"><%= link_to "Log in", user_session_path,:style=>"color:white;" %>
				</button>
			</div>
		</div>
	</div>
</body>
