.show-title {
	padding:20px 0;
}

.book-title {
	padding-bottom: 20px;
}

h4 {
	padding-bottom:5px;
}

.from-show-links {
	font-size: 15px;
	padding: 20px;
}

.edit-title {
	padding:20px 0;
}

.book-title {
	padding-bottom: 20px;
}

h4 {
	padding-bottom:5px;
}

.from-edit-links {
	font-size: 15px;
	padding: 20px;
}

